# Environment-related files
/.venv

# IDE-specific files
/.vscode

# Compiled Python files
__pycache__/

# Temporary and Log files
~$*
results_temp*
*.log

# Shell script files
pscp.bash
putty.bash
pscp_pbj.bash

# Test-related directories
/.test
.ipynb_checkpoints/

# Results and test directories
code/results
/.results
code/temp
code/S_test.py

# Simulation-related directories
code/simulations_list/past_sims
code/pbj/
code/pbj/*/
!code/pbj/*.ipynb  

# Files related to notes
/.notes
