# Environment-related files
/.venv

# IDE-specific files
/.vscode

# Compiled Python files
__pycache__/

# Log files
*.log

# Shell script files
pscp.bash
putty.bash

# Test-related directories
/tests
/test
/.test

# Past code and saved code directories
/past_codes
/saved_codes

# Data directories
code/Post/Plot3d/data/
code/Post/Plot3d/1ubq_data/

# HTML files
*.html

# Results and test directories
code/results
/.results

# Saved models directories
saved_models/
