# Environment-related files
/.venv

# IDE-specific files
/.vscode

# Results and test directories
code/*
!code/*/
!code/Main.py
!code/Simulation.py
!code/Test_mesh.py
!code/Allclean
!code/Allrun

code/results
/.results
code/temp
code/S_test.py
code/S_temp.py

# Compiled Python files
__pycache__/
/__pycache__
*.pyc

# Temporary and Log files
~$*
results_temp*
*.log
Temp/

# Shell script files
pscp.bash
putty.bash
pscp_pbj.bash
pscp_sims.bash
pscp_post.bash
bash_codes/

# Test-related directories
/.test
.ipynb_checkpoints/


# Simulation-related directories
code/simulations_list/*
code/simulations_list/*/
!code/simulations_list/Main.py
code/pbj/*
code/pbj/*/
!code/pbj/pbj.py
code/Model/pbj/*
code/Model/pbj/*/
!code/Model/pbj/pbj.py
.pbj/
tutorials/results/
code/Molecules/mesh_files/

# Files related to notes
/.notes
/.notas
/.test
/.tests
