bempp-cl==0.3.0
gmsh==4.11.1
ipykernel==6.16.0
matplotlib==3.6.1
meshio==5.3.4
numba==0.57.0
numpy==1.21.0
pandas==2.0.2
pdb2pqr==3.6.2
plotly==5.14.1
pydotplus==2.0.2
pygamer==2.0.7
rtree==1.0.1
scipy==1.10.1
tensorflow==2.10.0
tqdm==4.64.1
trimesh==3.23.5
xlsxwriter==3.1.9