name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.18'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install .[pbe-standard]
        pip install pytest

    - name: Check PYTHONPATH
      run: echo $PYTHONPATH

    - name: List installed packages
      run: pip list

    - name: Run tests
      run: pytest -vv -c tests/pytest.ini
